#cont{
	width: 100%;
	height: auto;
}
#cont .concent{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#cont .warming{
	height: 120px;
}
#cont .warming img{
	display: block;
}
#cont .wrap{
	width: 1200px;
	height: 671px;
}
#cont .wrap .zpp{
	width: 1200px;
}
#cont .wrap .zppleft{
	width: 680px;
	height: 335px;
}
#cont .wrap .zppleft p{
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}
#cont .wrap .zppleft .change{
	background: url(../img/bt.png) no-repeat left center;
	padding-left: 20px;
	font-size: 12px;
}
#cont .wrap .zppleft #add-1{
	margin-top: 7px;
}
#cont .wrap .zppleft .add ul{
	float: left;
    width: 676px;
    overflow: hidden;
    border-left: #eee 1px solid;
    border-top: #eee 1px solid;
}
#cont .wrap .zppleft .add li {
	float: left;
    border-right: #eee 1px solid;
    border-bottom: #eee 1px solid;
    padding: 7px 0 0 18px;
}
#cont .wrap .zppleft .add  li a{
	width: 150px;
    height: 65px;
    float: left;
    background: url(../img/logo-1/NA.jpg) no-repeat 0 0;
}

#cont .wrap .zppleft #add-2 li a{
	background: url(../img/logo-1/H-.jpg) no-repeat 0 0;
}

/*zppright*/
#cont .wrap .zppright{
	width: 498px;
	height: 333px;
    border: #e7e7e7 1px solid;
    overflow: hidden;
}
#cont .wrap .zppright .con{
	border-bottom: #e7e7e7 2px solid;
    font-size: 16px;
    color: #333;
    font-family: "微软雅黑";
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 44px;
    z-index: 1000;
}
#cont .wrap .zppright .con li{
	float: left;
	width: 123px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
#cont .wrap .zppright .con li:hover{
	border-bottom: #FE0032 2px solid;
}
#cont .wrap .zppright .follow-list{
	width: 100%;
	overflow: hidden;
	
}
#cont .zppright .follow-list .list-left{
	width: 230px;
    overflow: hidden;
    margin: 15px 9px 14px 9px;
    float: left;
    font-family: "宋体";
}
#cont .zppright .follow-list .list-left h2{
	margin-bottom: 12px;
    height: 174px;
    width: 230px;
    position: relative;
}
#cont .zppright .follow-list .list-left span{
	width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    background: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    letter-spacing: 0.5px;
}
#cont .zppright .follow-list .list-left ul li{
    float: left;
    width: 100%;
    line-height: 25px;
    color: #ff0f3f;
    background: url(../img/list/sq1.png) no-repeat 0 11px;
    padding-left: 9px;
}
#cont #list2{
	width: 100%;
    overflow: hidden;
    margin: 15px 9px 14px 9px;
    float: left;
    font-family: "宋体";
}
#cont #list2 h2{
	margin-bottom: 12px;
    height: 174px;
}
#cont #list2 ul li{
	float: left;
    width: 95%;
    line-height: 25px;
    color: #ff0f3f;
    background: url(../img/list/sq1.png) no-repeat 0 11px;
    padding-left: 9px;
}

/*zpp-b*/
#cont .wrap .zpp-b{
	margin: 0 auto;
    width: 1200px;
    height: 316px;
    float: left;
    overflow: hidden;
   /*background: yellow;*/
    margin-top: 20px;
    position: relative;
}
#cont .wrap .zpp-b .zpp-img{
	width: 680px;
	overflow: hidden;
}
#cont .wrap .zpp-b .zpp-video{
	float: right;
    width: 498px;
    height: 316px;
    position: absolute;
    top: 0;
    right: 0;
}

/*new_arr*/
#cont .concent .new_arr{
	height: auto;
	width: 1200px;
	overflow: hidden;
}
#cont .concent .new_arr .arr-nav{
	height: 24px;
	background: url(../img/handu.png) no-repeat left -51px;
	width: 100%;
    /*height: 17px;*/
    margin-bottom: 8px;
    position: relative;
    font-family: '宋体';
    font-size: 12px;
    color: #666;
    padding-left: 210px;
    line-height: 24px;
}
#cont .concent .new_arr .arr-nav a{
	color: #666;
    width: 62px;
    height: 22px;
    line-height: 18px;
    vertical-align: middle;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}
#cont .concent .new_arr .arr-nav a:hover{
	background: url(../img/2.png)no-repeat;
	color: white;
}
#cont .concent .new_arr .arr-floor{
	width: 1220px;
}
#cont .concent .new_arr .arr-floor .floor-list{
	float: left;
    width: 223px;
    height: 300px;
    border-top: none;
    margin: 0 21px 5px 0;
    overflow: hidden;
    /*background: red;*/
}
#cont .concent .new_arr .floor-img img{
	width: 230px;height: 230px;
}
#cont .concent .new_arr .arr-floor .floor-cont{
	margin-top: 10px;
	text-align: center;
	position: relative;
}
#cont  .new_arr .arr-floor .floor-cont .prise{
	font-size: 20px;
	font-weight: bold;
	height: 15px;
	line-height: 15px;
	margin-right: 5px;
}

#cont  .new_arr .arr-floor .floor-cont .old-prise{
	color: #999999;
	text-decoration: line-through;
}#cont  .new_arr .arr-floor .floor-cont .buynow{
	display: block;
	height: 16px;
	width:74px ;
	line-height: 16px;
	border: 1px solid #333;
	position: absolute;
	left: 70px;
	bottom: -30px;
}

/*show*/
#cont .show{
	width: 1200px;
    height: auto;
    padding-top: 35px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
#cont .show h2{
    /*margin-top: 35px;*/
	width: 100%;
    height: 17px;
    margin-bottom: 8px;
    position: relative;
    font-family: '宋体';
    font-size: 12px;
    color: #666;
    background: url(../img/handu.png) no-repeat 0 -78px;
}
#cont .show .keyWord a{
	padding: 0 10px;
}
#cont .show .sec-1{
	width: 1200px;
    height: auto;
    overflow: hidden;
}
.show .sec-1 .navimg{
	width: 190px;
    height: 423px;
    float: left;
    margin-right: 10px;
    background: #fafafa;
    position: relative;
}
.show .sec-1 .navimg .top-img{
	position: relative;
}
.show .sec-1 .navimg .top-img img{
	width: 190px;
    height: 253px;
    display: block;
}
.show .sec-1 .navimg .top-img p{
	width: 170px;
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    color: #FFFFFF;
    background: rgba(132,212,189,0.9);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    font-family: '宋体';
    z-index: 1000;
}
.show .sec-1 .navimg .botton-data{
	width: 100%;
    margin: 8px 0px;
    float: left;
    height: auto;
    font-family: '宋体';
    color: #333;
    font-weight: bold;
}
.show .sec-1 .navimg .botton-data .s_cate1{
	padding: 0 8px 12px 15px;
    height: auto;
    font-family: microsoft YaHei;
}
.show .sec-1 .navimg .botton-data a{
	font-size: 12px;
    padding: 8px 14px 4px 0px;
    display: inline-block;
}
.show .sec-1 .sec_r{
	width: 1000px;
    height: 423px;
    float: left;
}
.show .sec-1 .sec_r .sec_img {
	width: 790px;
    float: left;
    margin-right: 10px;
    background: url(../img/h.png) no-repeat center center;
    overflow: hidden;
}
.show .sec-1 .sec_r .sec_img .sad1{
	width: 580px;
    height: 423px;
    float: left;
    margin-right: 10px;
}
.show .sec-1 .sec_r .sec_img .sad2{
	width: 200px;
    height: 253px;
    float: left;
    margin-bottom: 10px;
}
.show .sec-1 .sec_r .sec_img .sad3{
    width: 200px;
    height: 160px;
    float: left;
}
.show .sec-1 .sec_r .sec_hot{
	width: 178px;
    /*border: solid 1px #ddd;*/
   margin-right: 10px;
    border-top: none;
    height: 422px;
    float: right;
    padding-right: 10px;
   
}
/*.show .sec-1 .sec_r .sec_hot img{
	width: 200px;
	height: 424px;
}*/
.show .style{
	width: 1220px;
    overflow: hidden;
    margin-top: 5px;
}
.show .style_box{
	float: left;
    width: 223px;
    height: auto;
    margin: 5px 21px 5px 0;
    background: url(../img/h.png) no-repeat center center;
    overflow: hidden;
}
.show .style_box img{
	width: 230px;
    float: left;
}
.show .style_box>ul{
	width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 0 0 0;
    font-size: 12px;
    color: #333;
    font-family: '宋体';
}
.show .style_box>ul .price{
	color: #000000;
    font-size: 12px;
    font-family: 'Arial',Microsoft YaHei,Helvetica,Sans-Serif;
    margin-top: 3px;
}
.show .style_box>ul .arrow{
	font-family: '微软雅黑';
    letter-spacing: -4px;
}
.show .style_box>ul .old_price{
	margin-left: 3px;
    color: #999;
}
.show .style_box>ul li{
	text-align: center;
    margin-bottom: 8px;
}

.show .style_box>ul li .pic_button{
	display: inline-block;
    width: 74px;
    height: 16px;
    border: 1px solid #333;
    line-height: 16px;
    font-family: 微软雅黑;
}

/*new2*/
#cont .new2 h2{
	background-position-y: -140px;
}

#cont .new2 .sec-1 .navimg .top-img p{
    background: rgba(218,184,103,0.8);
}

#cont .new2 .sec-1 .sec_r .sec_img .sad1{
	width: 790px;
}
/*new3*/
#cont .new3 h2{
	background-position-y: -172px;
}

#cont .new3 .sec-1 .navimg .top-img p{
    background: rgba(0,0,0,0.8);
}

#cont .new3 .sec-1 .sec_r .sec_img .sad1{
	width: 790px;
}
/*new4*/
#cont .new4 h2{
	background-position-y: -203px;
}

#cont .new4 .sec-1 .navimg .top-img p{
    background: rgba(7,153,203,0.8);
}

#cont .new4 .sec-1 .sec_r .sec_img .sad1{
	width: 790px;
}
/*new5*/
#cont .new5 h2{
	background-position-y: -265px;
}

#cont .new5 .sec-1 .navimg .top-img p{
    background: rgba(0,0,0,0.8);
}

#cont .new5 .sec-1 .sec_r .sec_img .sad1{
	width: 790px;
}



/*foot-banner*/
#foot-banner{
	width: 100%;
	margin-top: 30px;
}
#foot-banner .foot-cont{
	width: 1200px;
	margin: 0 auto;
}
#foot-banner .foot-cont .banner img{
	height: 90px;
	display: block;
}
#foot-banner .foot-cont .floor{
	width: 1200px;
    /*height: auto;*/
   height: 355px;
    overflow: hidden;
    margin: 20px auto 10px;
}
#foot-banner .foot-cont .title{
	height: 36px;
	line-height: 36px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
#foot-banner .foot-cont .info-1{
	width: 350px;
    height: 280px;
}
#foot-banner .foot-cont .news{
    float: left;
    margin-left: 33px;
    width: 350px;
    height: 280px;	
}
#foot-banner .foot-cont .news h4{
	height: 35px;
	line-height: 35px;
}
#foot-banner .foot-cont .news .section1{
	width: 270px;
    height: 160px;
    position: relative;
}
#foot-banner .foot-cont .news .section1 li{
	float: left;
    width: 100%;
    margin-bottom: 4px;
}
#foot-banner .foot-cont .news .section1 li a{
	width: 240px;
    height: 30px;
    float: left;
    font: 14px/30px '宋体';
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
#foot-banner .foot-cont .news .section1 li p{
	width: 230px;
    float: left;
    color: #999;
    height: 40px;
    overflow: hidden;
    font: 12px/20px '宋体';
}
#foot-banner .foot-cont .news .section1 .middle{
	width: 100px;
    position: absolute;
    top: 0;
    left: 250px;
}
#foot-banner .foot-cont .side{
    width: 430px;
    height: 300px;
    /*margin-top: 8px;*/
    margin-left: 33px;
    position: relative;
    background: white;
}
#foot-banner .foot-cont .side input{
	width: 250px;
    height: 25px;
    border: 1px solid #ddd;
    float: left;
    font: 14px/20px '宋体';
    color: #666;
}
#foot-banner .foot-cont .side button{
	display: block;
    width: 70px;
    height: 22px;
    background: url(../img/footer00.png) no-repeat;
    float: left;
    margin: 2px 8px;
    border: none;
    cursor: pointer;
}
