.clearfix
{
	*zoom: 1
}


/* 导航样式 */
#header-wrap
{
	/*background-color: #fff;*/
	width: 100%
}

.navwrap
{
	background: white;
	height: 33px;
	box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	-moz-box-shadow: 0 1px 2px #999
}

#nav
{
	height: 33px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	z-index: 99
}

.navbar
{
	height: 33px;
	padding-left: 210px;
	position: relative
}

#nav .navbar a{
	text-align: center;
	height: 33px;
	line-height: 33px;
	color: black;
	padding: 0 15px;
	text-decoration: none;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
}
#nav .navbar a:hover{
	color: #fe0032;
}

#nav .navbar-r ul li {
	float: left;
}
#nav .navbar-r ul li a{
	text-align: center;
	height: 33px;
	line-height: 33px;
	color: black;
	padding: 0 25px;
	text-decoration: none;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
}
#nav .navbar-r a:hover{
	color: #fe0032;
}

#nav .navbar-r .list{
	background: white;
	border-top: 1px solid #FE0032;
	display: none;
}
#nav .navbar-r ul>li:hover div{
	display: block;
}



/*下拉列表*/
.pros
{
	position: absolute;
	z-index: 1000;
	width: 190px;
	/*height: 455px;*/
	background-color: #e3e3e3;
}

.pros h2
{
	height: 33px;
	line-height: 33px;
	color: white;
	text-align: center;
	background: #FE0032;
	padding-left: 12px;
	font-size: 16px;
	font-weight: bold;
	font-family: "微软雅黑";
	letter-spacing: 2px;
}

.pros .pro-list li{
	background-color: #e3e3e3;
	padding: 12px 13px;
	border-bottom: 1px dashed #E3E3E3;
	background: url(../img/jiantou.png)no-repeat 177px 17px;
}

/*其他页面时值为：none*/
.pros .pro-list{display: none;}

.pros:hover .pro-list{
	display: block;
}


.pros .pro-list .list span{
	padding-left: 20px;
	background: url(../img/tb/tb1.png)no-repeat left 2px;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	display: block;
	
}
.pros .pro-list .list a{
	font-size: 12px;
	margin-right: 2px;
}
.pros a:hover{
	text-decoration: underline;
}

.pros .pro-list .list:hover a {
	color: white;
}
.pros .pro-list .list:hover {
	color: white;
	background: black url(../img/jiantou-1.png)no-repeat 177px 17px;
}
.pros .pro-list .list:hover span{
	background: url(../img/tb/tb01.png)no-repeat left 2px;
	margin-left: 10px;
	transition: all 0.5s;
}
.pros .pro-list .list .jingpin{
	background: url(../img/tb/tb2.png)no-repeat left 2px;
}
.pros .pro-list .list:hover .jingpin{
	
	background: url(../img/tb/tb02.png)no-repeat left 2px;
}
.pros .pro-list .list .fashion{
	background: url(../img/tb/tb3.png)no-repeat left 2px;
}
.pros .pro-list .list:hover .fashion{
	background: url(../img/tb/tb03.png)no-repeat left 2px;
}
.pros .pro-list .list .baby{
	background: url(../img/tb/tb5.png)no-repeat left 2px;
}
.pros .pro-list .list:hover .baby{
	background: url(../img/tb/tb05.png)no-repeat left 2px;
}
.pros .pro-list .list .mother{
	background: url(../img/tb/tb6.png)no-repeat left 2px;
}
.pros .pro-list .list:hover .mother{
	background: url(../img/tb/tb06.png)no-repeat left 2px;
}

/*prosmore hide*/
.prosmore {
	padding: 15px 0 15px 15px;
	position: absolute;
	z-index: 999;
	left: 190px;
	top: 33px;
	background-color: #fff;
	border: 1px solid gray;
	border-left: 0;
	width: 180px;
	/*height: 422px*/
	transition: all 1s;
	opacity: 0;
	/*display: none;*/
}
.prosmore img{
	padding: 0 10px 10px 0 ;
}

.pros .pro-list .list .jp {
	top: 60px;
}

.pros .pro-list .list .nz{
	top: 100px;
	width: 380px;
}
.pros .pro-list .list .tz{
	top: 120px;
}
.pros .pro-list .list .mm{
	top: 150px;
	width: 380px;
}
.pros .pro-list .list:hover .prosmore{
	opacity: 1;
	transition: all 1s;
}